<!--Header-->
<header>
    <div class="contenedor-redes">
        <ul>
            <li><a href="https://wa.me/+573005141214" target="_blank">Oficina: <br> +57 3005141214</a></li>
            <li><a href="https://wa.me/+573136422716" target="_blank">Wilson Londoño: <br> +57 3136422716</a></li>
            <li><a href="https://mail.google.com/mail/u/0/?ogbl#inbox?compose=GTvVlcSMSqVsZCSsNGnRjgkKtDTzWvFqTPKdKfQXKthCXkfPJsfTnzmpnJWdjVTwsLlvwtzmprcpg" target="_blank">Correo: <br>graphic.graf@gmail.com</a></li>
            <li><a href="https://goo.gl/maps/XjyDDT5Mi9UA32xL9" target="_blank">Dirección: <br> Cra 53#53-117 Sede Principal</a></li>
        </ul>
    </div>
    <div class="contenedor-menu">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Sedes</a></li>
            <li><a href="#">Testimonios</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>
</header>