.contenedor-redes{
    width: 100%;
    padding: 1px 60px;
    background-color: #000000;
}

.contenedor-redes ul{
    display:flex;
    flex-wrap: wrap;
    margin: 10px 0;
    list-style: none;
}

.contenedor-redes ul li{
    padding-right: 50px;
}

.contenedor-redes ul li a{
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-decoration: none;
}

.contenedor-menu{
    width: 100%;
    padding:5px 60px;
    background-color: #00AFEF;
}

.contenedor-menu ul{
    display:flex;
    flex-wrap: wrap;
    margin: 10px 0;
    list-style: none;
}

.contenedor-menu ul li{
    padding-right: 30px;
}

.contenedor-menu ul li a{
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-decoration: none;
}